@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: 'Roboto' 
}

button {
  cursor:pointer
}



@theme {

  --spacing-SPACE_BOARD_CONTENT: 24px;
  --spacing-HEIGHT_APPBAR: 56px;
  --spacing-HEIGHT_BOARD_BAR: 44px;
  --spacing-HEIGHT_BOARD_CONTENT: calc(100vh - var(--spacing-HEIGHT_APPBAR));
  --spacing-HEIGHT_BOARD_COLUMN: calc(100vh - var(--spacing-HEIGHT_APPBAR) - var(--spacing-HEIGHT_BOARD_BAR) - 3*var(--spacing-SPACE_BOARD_CONTENT));
  --spacing-WIDTH_SIDEBAR: 272px;
  --spacing-PL_BOARD_CONTENT: calc(var(--spacing-WIDTH_SIDEBAR) + var(--spacing-SPACE_BOARD_CONTENT));
  --spacing-WIDTH_BOARD_CONTENT: calc(100vw - var(--spacing-PL_BOARD_CONTENT) - var(--spacing-SPACE_BOARD_CONTENT));
  --spacing-HEIGHT_COLUMN_TITLE: 45px;
  --spacing-HEIGHT_COLUMN_CONTENT: calc(100% - var(--spacing-HEIGHT_COLUMN_TITLE));

  --animate-fadeOutLeft: fadeOutLeft 0.3s ease forwards;
  @keyframes fadeOutLeft {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/* Tùy chỉnh thanh cuộn */
::-webkit-scrollbar {
  width: 8px; /* Độ rộng thanh cuộn */
  height: 8px; /* Dùng cho cuộn ngang */
}

/* Thanh cuộn - nền */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: theme('colors.sky.100'); /* Màu nền thanh cuộn */
}

/* Thanh cuộn - phần kéo */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: theme('colors.sky.300'); /* Màu phần kéo */
}

/* Hiệu ứng hover */
::-webkit-scrollbar-thumb:hover {
  cursor: poiter;
  background: theme('colors.sky.400');

}

.appbar-button-custom {
  @apply rounded-full hover:bg-white/20 transition
}

.button {
  @apply flex items-center justify-center px-4 py-2.5 bg-sky-500 text-white shadow-md rounded-3xl dark:bg-gray-800 hover:opacity-90 transition-all duration-300
}